---
import * as content from './content';

const {currentRegion} = Astro.props
const title = content.compressor[currentRegion].title
const description = content.compressor[currentRegion].description
const dragAndDrop = content.compressor[currentRegion].drag
const or = content.compressor[currentRegion].or
const compressing = content.compressor[currentRegion].compressing
const download = content.compressor[currentRegion].download
const originalSize = content.compressor[currentRegion].original_size
const newSize = content.compressor[currentRegion].new_size


---
<div class="p-6 m-5 rounded-lg bg-white dark:bg-gray-800">
  <header class="flex flex-col items-center justify-center space-y-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-12 h-12 text-gray-500 dark:text-gray-400"
    >
      <path d="m15 15 6 6m-6-6v4.8m0-4.8h4.8"></path>
      <path d="M9 19.8V15m0 0H4.2M9 15l-6 6"></path>
      <path d="M15 4.2V9m0 0h4.8M15 9l6-6"></path>
      <path d="M9 4.2V9m0 0H4.2M9 9 3 3"></path>
    </svg>
    <h1 class="text-2xl font-bold text-gray-700 dark:text-gray-200">{title}</h1>
    <p class="text-gray-500 dark:text-gray-400">{description}</p>
  </header>

  <section class="">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex items-center justify-center mt-6">
        <label for="maxsize" class="text-gray-500 dark:text-gray-400">Max Size:</label>
        <select id="maxsize" class="ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value=".1">100 KB</option>
          <option value=".5">500 KB</option>
          <option value="1">1 MB</option>
          <option value="5">5 MB</option>
          <option selected value="10">10 MB Recommended</option>
          <option value="20">20 MB</option>
          <option value="50">50 MB</option>
          <option value="100">100 MB</option>
        </select>
      </div>
      <div class="flex items-center justify-center mt-6">
        <label for="resolution" class="text-gray-500 dark:text-gray-400">Max width:</label>
        <select id="resolution" class="ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="100">100x52</option>
          <option value="200">200x104</option>
          <option value="300">300x156</option>
          <option value="400">400x208</option>
          <option value="500">500x260</option>
          <option value="600">600x312</option>
          <option value="700">700x364</option>
          <option value="800">800x416</option>
          <option value="900">900x468</option>
          <option selected value="1000">1000x520 (Recommended)</option>
          <option value="2000">2000x1040</option>
          <option value="3000">3000x1560</option>
          <option value="4000">4000x2080</option>
        </select>
      </div> 
    </div>
    <div class="flex items-center justify-center w-full mt-5">
      <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div id="dragdropinput">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click</span> {or} {dragAndDrop}</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
            </div>
            <input id="dropzone-file" accept="image/*" type="file" hidden />
          </div>
          <img src="" alt="" class="w-full h-64 object-cover rounded-md hidden" id="output" >
        </label>
    </div> 
  </section>

  <section class="mt-8 ">
    <div id="loading" class="hidden flex items-center justify-center">
      <p class="text-gray-500 dark:text-gray-400">{compressing}</p>
      <!-- You can replace the paragraph with an actual spinner icon or image if you prefer -->
    </div>
    <div class="mt-4 grid gap-2 hidden" id="info-container">
      <div class="flex justify-between">
        <span class="text-gray-500 dark:text-gray-400 font-medium">{originalSize}</span>
        <span class="text-gray-500 dark:text-gray-400"><span id="orig-size"> </span></span>
      </div>
      <div class="flex justify-between">
        <span class="text-gray-500 dark:text-gray-400 font-medium">{newSize}</span>
        <span class="text-gray-500 dark:text-gray-400"><span id="new-size"> </span></span>
      </div>
    </div>
  </section>

  <section class="flex items-center justify-center mt-6">
    <span class="text-green-500" id="compression-success"></span>
  </section>

  <div class="flex items-center justify-center mt-6 " id="dl-container">
      <a id="download-link" href="#" download="output.png"><span class="text-blue-500" id="compression-download"></span></a>
  </div>
</div>
<style>
  .hidden {
    display: none;
  }
  #output {
    object-fit: cover; /* Cover the dropzone area */
    width: 100%; /* Ensure it spans the full width */
    height: 100%; /* Ensure it spans the full height */
    border-radius: inherit; /* Optional: Inherit border-radius from the dropzone */
  }
</style>


